
<br/>
{{#each error}}
    <div class="alert alert-danger">{{msg}}</div>
{{/each}}
{{#each success}}
    <div class="alert alert-success">{{msg}}</div>
{{/each}}
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto mt-4">
        <h1>TôNaFila! - Painel Administrativo</h1>
        <span>Painel de Exclusivo para Desenvolvedores</span>
        <p> O aplicativo <strong>TôNaFila!</strong> desenvolvido para dispositivos Android®
        que tem por objetivo facilitar a gestão de filas de espera em estabelecimentos comerciais.</p>
        <p> Esse painel administrativo tem como objetivo gerir as principais atividades do 
        banco de dados como por exemplo a <a href="/criarUsuario">criação de conta empresa</a>. </p>
        <p>
        </p>
      </div>
    </div>
</main>
<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">© 2019 TôNaFila! - Developer Dashboard </p>
</footer>